<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Search Page</title>
<link rel="stylesheet" href="bankProjectSearchCustomer.css">

</head>

<body>

	<h2>İsme Göre Arama</h2>
	<div>
		<form action="/searchByCustomerName" method="post">
			<label for="searchByCustomerName">Arama Yapmak İstediğiniz
				Müşteri İsmini Giriniz:</label> <input type="text" id="searchByCustomerName"
				name="searchByCustomerName" required>
			<button type="submit">Ara</button>
		</form>
	</div>
	<h2>Soyisme Göre Arama</h2>

	<div>
		<form action="/searchByCustomerSurname" method="post">
			<label for="searchByCustomerSurname">Arama Yapmak İstediğiniz
				Müşteri Soyismini Giriniz:</label> <input type="text"
				id="searchByCustomerSurname" name="searchByCustomerSurname" required>
			<button type="submit">Ara</button>
		</form>
	</div>

	<h2>Tc'ye Göre Arama</h2>

	<div>
		<form action="/searchByCustomerTc" method="post">
			<label for="searchByCustomerTc">Arama Yapmak İstediğiniz
				Müşteri Tc'sini Giriniz:</label> <input type="text" id="searchByCustomerTc"
				name="searchByCustomerTc" required>
			<button type="submit">Ara</button>
		</form>
	</div>
	<br>
	<br>
	<a href="bankProjectCustomerPage.html" style="text-decoration: none;">
		<div class="div2">
			<span>Müşteri Ekranına Dön</span>
		</div>
	</a>

</body>
</html>