<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>

<body>

    <h2>Customer Details</h2>

    <table border="1">
        <caption>Müşteri Listesi</caption>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Soy isim</th>
            <th>TC</th>
            <th>Cinsiyet</th>
            <th>Adres</th>
        </tr>

        <tr>
            <td id="customerId" th:text="${customer.id}"></td>
            <td th:text="${customer.customerName}"></td>
            <td th:text="${customer.customerSurname}"></td>
            <td th:text="${customer.customerTc}"></td>
            <td th:text="${customer.customerGender}"></td>
            <td th:text="${customer.customerAddress}"></td>
        </tr>
    </table>

    <h2>Credit Details</h2>
    <table border="1">
        <caption>Krediler</caption>
        <tr>
            <th>Sıra</th>
            <th>Kredi Tipi</th>
            <th>Kredi İsmi</th>
            <th>Çekilen Kredi Miktarı</th>
            <th>Ödeme Periyodu</th>
            <th>Kredi Faizi</th>
            <th>Ödenecek Toplam Tutar</th>
            <th>Kredi Durumu</th>
        </tr>

        <tr th:each="credit , iterStat : ${credits}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${credit.creditType}"></td>
            <td th:text="${credit.creditName}"></td>
            <td th:text="${credit.creditAmount}"></td>
            <td th:text="${credit.repaymentPeriod}"></td>
            <td th:text="${credit.creditInterest}"></td>
            <td th:text="${credit.creditTotalAmount}"></td>
            <td th:text="${credit.creditStatus}"></td>
        </tr>
    </table>
    <br>
    <br>
    <div id="updateForm" style="display: none;">
        <form action="/updateCustomer" method="post" th:object="${updateCustomerRequest}">
            <!-- hiddenCustomerId alanını ekledik -->
            <input type="hidden" id="hiddenCustomerId" name="updateCustomerRequest.updateCustomer.id" th:field="*{updateCustomer.id}">
            <label for="name">Müşteri İsmi:</label>
            <input type="text" id="name" name="updateCustomerRequest.updateCustomer.customerName" th:field="*{updateCustomer.customerName}" required>
            <label for="surname">Müşteri Soyadı:</label>
            <input type="text" id="surname" name="updateCustomerRequest.updateCustomer.customerSurname" th:field="*{updateCustomer.customerSurname}" required>
            <label for="tc">Müşteri Tc'si:</label>
            <input type="text" id="tc" name="updateCustomerRequest.updateCustomer.customerTc" th:field="*{updateCustomer.customerTc}" required>
            <label for="gender">Cinsiyet:</label>
            <select id="gender" name="updateCustomerRequest.updateCustomer.customerGender" th:field="*{updateCustomer.customerGender}" required>
                <option value="Male" th:selected="${customer.customerGender == 'Male'}">Erkek</option>
                <option value="Female" th:selected="${customer.customerGender == 'Female'}">Kadın</option>
            </select>
            <label for="address">Adres:</label>
            <input type="text" id="address" name="updateCustomerRequest.updateCustomer.customerAddress" th:field="*{updateCustomer.customerAddress}" required>

            <button type="submit">Güncelle</button>
        </form>
    </div>
    <button onclick="toggleFormVisibility()">Müşteriyi Güncelle</button>

    <script>
        function toggleFormVisibility() {
            var updateForm = document.getElementById("updateForm");
            if (updateForm.style.display === "none") {
                updateForm.style.display = "block";
                updateHiddenFieldValue();
            } else {
                updateForm.style.display = "none";
            }
        }

        function updateHiddenFieldValue() {
            var hiddenField = document.getElementById("hiddenCustomerId");
            var customerId = document.getElementById("customerId").innerText.trim();
            hiddenField.value = customerId;
        }
    </script>
</body>

</html>